/************
UTILITY CLASSES START
*************/
.root{
  -primary: #005bae;
  -secondary: #00337e;
  -secondary-light: #074c8c;
  -light: #5487e0;
  -shadow: #32325d1a;
  -accent: #e91e63;
  -black: rgba(0, 0, 0, 0.1);
  -fx-font-family: 'Open Sans';
  -primary-opaque: rgba(0, 0, 0, 0.1);
  -fx-background-color: transparent;

}
#app{
  /*don't style this for now*/
}
.padding-both{
  -fx-padding: 0 10px 0 10px;
}
.container{
  -fx-padding: 0 10px 0 10px;
  /*???*/
}
.primary{
  -fx-background-color: -primary;
}
.white{
  -fx-background-color: white;
}
.secondary{
  -fx-background-color: -secondary;
}
.secondary-light{
  -fx-background-color: -secondary-light;
}
.color-white{
  -fx-text-fill: white;
  -fx-text-color: white;
  -fx-prompt-text-fill: white;
  -fx-highlight-fill: white;
}

.h1 {
  -fx-font-size: 32px;
}
.h2 {
  -fx-font-size: 24px;
}
.h3 {
  -fx-font-size: 16px;
}
.padding {
  -fx-padding: 10px;
}
.heading-block{
  -fx-font-size: 24px;
  -font-weight: bold;
  -fx-wrap-text: true;
}
.header{
  -fx-background-color: white;
  -fx-border-width: 0 0 3px 0;
  -fx-border-color: -primary;
  -fx-fill-height: true;
}
.dropshadow{
  -fx-effect: dropshadow(three-pass-box, #32325d1a, 30, 0.8, 0, 10);
}
.dropshadow-hard{
  -fx-effect: dropshadow(gaussian, -black, 15, 0.6, 0, 5);
}
.button{
  -fx-background-insets:  0.0;
  -fx-border-width: 0.0;
  -fx-padding: 0.7em;
  /* -fx-text-fill: white; */
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;
}
.fab{
  -fx-background-insets:  0.0;
  -fx-border-width: 0.0;
  -fx-padding: 0.7em;
  /* -fx-text-fill: white; */
  -fx-alignment: CENTER;
  -fx-content-display: LEFT;

}
.fab:pressed{
  -fx-background-color: -primary-opaque;
}
.transparent{
  -fx-background-color: transparent;
}
.flat{
  -fx-effect: dropshadow(three-pass-box, #32325d1a, 10, 0.3, 0, 6);
  -fx-border-radius: 0;
  -fx-background-radius: 0;
}
.round{
  -fx-border-radius: 100px;
  -fx-background-radius: 100px;
}
.text-field{
  -fx-padding: 0.7em;
  -fx-alignment: top-center;
  -fx-highlight-fill: black;
  -fx-border-width: 0 0 0px 0;
  -fx-border-color: transparent;
  -fx-border-radius: 100px;
  /* -fx-background-color: white; */
  -fx-background-insets:  0.0;
  -fx-background-radius: 100px;
  -fx-padding: 0.7em;
  -fx-prompt-text-fill: derive(-primary, 50.0%);
  -fx-highlight-fill: -secondary;
  -fx-font-family: 'Open Sans';

}
.header{
  -fx-background-color: white;
  -fx-text-fill: -secondary;
}
.text-field:focused{
  -fx-effect: dropshadow(three-pass-box, -shadow, 0, 0.1, 0, 1);
  -fx-border-color: -primary;

}
.text-responsive{

}
.flat:pressed{
  -fx-effect: dropshadow(three-pass-box, -shadow, 5, 0.1, 0, 1);
}
/************
UTILITY CLASSES END
*************/
/************
Dialog CLASSES START
*************/
.dialog-overlay{
  -fx-background-color: rgba(0.0, 0.0, 0.0, 0.1);
  -fx-padding: 0 80px 0 80px;

}
.dialog {
  -fx-text-alignment: left;
  -fx-effect: dropshadow(three-pass-box, #32325d1a, 25, 0.6, 0, 3);

}
.dialog .body {
  -fx-font-size: 14.0px;
}
.dialog .heading, .toolbar .heading {
  -fx-font-weight: BOLD;
  -fx-font-size: 24px;
  -fx-text-color: white;
  -fx-text-fill: white;
}

/************
Dialog CLASSES END
*************/

/************
Toolbar CLASSES START
*************/
.toolbar {
  -fx-background-color: -primary;
  -fx-min-height: 68px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.28), 15, 0.5, 0, 1);
}
.toolbar HBox{
  /* -fx-pref-height: 68px; */
  -fx-alignment: center;
}
.toolbar HBox Label{
  -fx-font-weight: BOLD;
  -fx-font-size: 24px;
  -fx-text-color: white;
  -fx-text-fill: white;
}
/* .toolbar .title{
  -fx-text-color: white;
  -fx-font-
} */


/************
Toolbar CLASSES END
*************/

.scroll-pane{
  -fx-border-width: 0.0;
  -fx-background-insets: 0;

}
.scroll-pane > .corner {
    -fx-background-color: -secondary;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}
.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow{
    -fx-background-color: transparent;
    /* -fx-border-color: transparent; */
    /* -fx-background-radius: 0em; */
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.scroll-bar .thumb{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0 5px;
    -fx-border-color: -primary;
}
/************
Dashboard Styles START
*************/

.dashboard .body,
.dashboard .scroll-pane,
.dashboard .viewport{
  -fx-background-color: transparent;

}
.chart .chart-content{
  padding:1px 3px 1px 3px;
}
/************
Dashboard Styles END
*************/

/************
CHART Styles START
*************/
.chart{
-fx-horizontal-grid-lines-visible: false;
-fx-vertical-grid-lines-visible	: true;
}
.chart .chart-content{

}
/* .chart .chart-content .plot-c */
.chart .chart-content .chart-plot-background{
  -fx-background-color: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.18), 5, 0.3, 0, 3);


}
.chart .chart-content .plot-content Label{
  -fx-border-width: 0px;
  -fx-background-color: -accent;
  -fx-text-fill: white;
  -fx-font-family: 'Open Sans';
  -fx-font-size: 14px;
  -fx-font-weight: bold;
  -fx-padding: 5px;
}
.chart-line-symbol {
  -fx-background-color: -accent;
}
.chart-series-line{
  -fx-stroke: -accent;
  -fx-background-color: -accent;
  -fx-border-color: -accent;
}
/* .chart-series-line .series0 {
  -fx-background-color: -secondary;
  -fx-border-color: -light;
  -fx-stroke-dash-array: -secondary;
  -fx-stroke-width: 1px;
} */
/* .chart .chart-content .chart-vertical-grid-lines,
.chart .chart-content .chart-horizontal-grid-lines{
  -fx-background-color: white;
  -fx-border-width: 0px;
  -fx-border-color: white;
  -fx-border-style: none;
} */
/************
CHART Styles END
*************/

.product-image{
  -fx-pref-width: 50px;
  -fx-pref-height: 50px;
}
/************
ListView Styles START
*************/
.list-simple{
  -fx-border-width: 0px;
  -fx-background-insets: 0px;
}
.list-simple:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: white;
    -fx-text-fill: black;
    -fx-fill:black;
    -fx-border-width: 0px 0px 0px 15px;
    -fx-border-color: -accent;
    /* -fx-table-cell-border-color: derive(-fx-selection-bar, 20%); */
}
.list-simple .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-fill:black;
}
/* .list-simple .list-cell:focused{
  -fx-background-color: -primary;
}
.list-simple .list-cell:selected{
  -fx-background-color: transparent;
} */
/* .list-simple .list-cell,
.list-simple .list-cell:filled,
.list-simple .list-cell:selected,
.list-simple .list-cell:focused,
.list-simple .list-cell:hover {
    -fx-background-color: transparent;
    -fx-effect: null;
}
.list-simple .list-cell:filled:selected:focused,
.list-simple .list-cell:filled:selected{
    -fx-background-color: -primary;
} */

/************
ListView Styles END
*************/
